@import 'tailwindcss';

@font-face {
    font-family: 'Juache';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

html,
body {
    height: 100%;
}

body {
    @apply min-h-screen bg-[#0b1626] text-[#e0e6f1] font-sans flex items-center justify-center;
    font-family: Juache;
}

* {
    box-sizing: border-box;
}
